---
import Headline from '~/components/ui/Headline.astro';
import Image from '~/components/common/Image.astro';
import type { Features, Content } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  image = await Astro.slots.render('image'),
  content = await Astro.slots.render('content'),

  id,
  classes = { headline: {
    container: 'text-left max-w-3xl',
    tagline: 'text-base font-bold tracking-wide uppercase',
    title: 'text-3xl md:text-4xl text-primary',
    subtitle: 'text-xl',
  } },
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<section class="relative px-[5%] py-8 md:py-12 lg:py-14" {...id ? { id } : {}}>
  <div
  class="container grid grid-cols-1 md:grid-cols-2 md:gap-x-12 md:gap-y-8 lg:gap-x-20 lg:gap-y-24"
>
  <Headline title={title} tagline={tagline} classes={classes?.headline as Record<string, string>} />
    {
      subtitle && (
        <p class="text-lg md:text-xl">{subtitle}</p>
      )
    }
    {content && <div class="text-base md:text-md" set:html={content} />}
</div>
  {
    image && (
      <div class="absolute inset-0 -z-10">
        {typeof image === 'string' ? (
          <Fragment set:html={image} />
        ) : (
          <Image
            class="size-full object-cover"
            layout="cover"
            widths={[400, 768, 1024, 2040]}
            sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
            loading="eager"
            width={1440}
            height={500}
            {...image}
          />
        )}
        <div class="absolute inset-0"></div>
        <slot name="bg">
          {bg ? <Fragment set:html={bg} /> : null}
        </slot>
      </div>
    )
  }
</section>
