---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import type { Contact as Props } from '~/types';

const { 
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props

---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />
  <div class="text-center mb-6">
    <a class="btn-secondary" href="tel:+1-541-643-7064">(541) 643-7064</a>
  </div>
  <div class="flex flex-col max-w-xl mx-auto rounded-lg backdrop-blur border border-gray-400 bg-white shadow p-4 sm:p-6 lg:p-8 w-full">
      <form name="contact" netlify netlify-honeypot="bot-field">
        <p class="hidden">
          <label>
            Don't fill this out if you're human: <input name="bot-field" />
          </label>
        </p>
        <input type="hidden" name="subject" data-remove-prefix value="Inquiry from malkuchsyardandtreeservice.com" />
        <div class="mb-6">
          <label for="name" class="block text-sm font-medium">Name</label>
          <input class="py-3 px-4 block w-full text-md rounded-lg border border-gray-400 bg-white" name="name" type="text" required>
        </div>
        <div class="mb-6">
          <label for="phone" class="block text-sm font-medium">Phone number</label>
          <input class="py-3 px-4 block w-full text-md rounded-lg border border-gray-400 bg-white" name="phone" type="tel" required>
        </div>
        <div class="mb-6">
          <label for="email" class="block text-sm font-medium">Email</label>
          <input class="py-3 px-4 block w-full text-md rounded-lg border border-gray-400 bg-white" name="email" type="email" required>
        </div>
        <div class="mb-6">
          <label for="address" class="block text-sm font-medium">Address, City, State - where the work will be done</label>
          <input class="py-3 px-4 block w-full text-md rounded-lg border border-gray-400 bg-white" name="address" type="text" required>
        </div>

        <div class="mb-6">
          <label for="day" class="block text-sm font-medium">What day would work best for use to meet you at the work site?</label>
          <select class="block w-full px-4 py-3 rounded-lg border border-gray-400 bg-white" name="day" id="day" required>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
          </select>
        </div>
        <!-- what time of day would work best for us to meet you? -->
        <div class="mb-6">
          <label for="time" class="block text-sm font-medium">What time of day would work best for us to meet you?</label>
          <select class="block w-full px-4 py-3 rounded-lg border border-gray-400 bg-white" name="time" id="time" required>
            <option value="8:00am">8:00am</option>
            <option value="8:30am">8:30am</option>
            <option value="9:00am">9:00am</option>
            <option value="9:30am">9:30am</option>
            <option value="10:00am">10:00am</option>
            <option value="10:30am">10:30am</option>
            <option value="11:00am">11:00am</option>
            <option value="11:30am">11:30am</option>
            <option value="12:00pm">12:00pm</option>
            <option value="12:30pm">12:30pm</option>
            <option value="1:00pm">1:00pm</option>
            <option value="1:30pm">1:30pm</option>
            <option value="2:00pm">2:00pm</option>
            <option value="2:30pm">2:30pm</option>
            <option value="3:00pm">3:00pm</option>
            <option value="3:30pm">3:30pm</option>
            <option value="4:00pm">4:00pm</option>
            <option value="4:30pm">4:30pm</option>
            <option value="5:00pm">5:00pm</option>
          </select>
        </div>
        <fieldset class="mb-6">
          <legend>
            Which services will you need?
          </legend>
          <div class="grid-auto space-y-2">
            <label for="tree-removal" class="flex cursor-pointer items-start gap-4 rounded-lg border border-gray-400 p-4 transition hover:bg-gray-50 has-[:checked]:bg-blue-50">
              <div class="flex items-center">
                &#8203;
                <input type="checkbox" name="services" id="tree-removal" value="Tree removal">
              </div>  
              <strong class="font-medium text-gray-900">
                Tree removal
              </strong>
            </label>
                  
            <label for="tree-trimming-pruning" class="flex cursor-pointer items-start gap-4 rounded-lg border border-gray-400 p-4 transition hover:bg-gray-50 has-[:checked]:bg-blue-50">
              <div class="flex items-center">
                &#8203;
                <input type="checkbox" name="services" id="tree-trimming-pruning" value="Tree trimming / Pruning">
              </div>
              <strong class="font-medium text-gray-900">
                Tree trimming / Pruning
              </strong>
            </label>

            <label for="tree-cabling" class="flex cursor-pointer items-start gap-4 rounded-lg border border-gray-400 p-4 transition hover:bg-gray-50 has-[:checked]:bg-blue-50">
              <div class="flex items-center">
                &#8203;
                  <input type="checkbox" name="services" id="tree-cabling" value="Tree Cabling">
              </div>
              <strong class="font-medium text-gray-900">
                  Tree Cabling
              </strong>
                  
            </label>

            <label for="stump-grinding" class="flex cursor-pointer items-start gap-4 rounded-lg border border-gray-400 p-4 transition hover:bg-gray-50 has-[:checked]:bg-blue-50">
              <div class="flex items-center">
                &#8203;
                <input type="checkbox" name="services" id="stump-grinding" value="Stump grinding">
              </div>
              <strong class="font-medium text-gray-900">
                Stump grinding
              </strong>
            </label>

            <label for="log-hauling" class="flex cursor-pointer items-start gap-4 rounded-lg border border-gray-400 p-4 transition hover:bg-gray-50 has-[:checked]:bg-blue-50">
              <div class="flex items-center">
                &#8203;
                <input type="checkbox" name="services" id="log-hauling" value="Log Hauling">
              </div>
              <strong class="font-medium text-gray-900">
                Log Hauling
              </strong>
            </label>

            <label for="tree-plant-healthcare" class="flex cursor-pointer items-start gap-4 rounded-lg border border-gray-400 p-4 transition hover:bg-gray-50 has-[:checked]:bg-blue-50">
              <div class="flex items-center">
                &#8203;
                  <input type="checkbox" name="services" id="tree-plant-healthcare" value="Tree / Plant Healthcare">
                </div>
              <strong class="font-medium text-gray-900">
                Tree / Plant Healthcare
              </strong>
              </label>
              <label for="other" class="flex cursor-pointer items-start gap-4 rounded-lg border border-gray-400 p-4 transition hover:bg-gray-50 has-[:checked]:bg-blue-50">
                <div class="flex items-center">
                  &#8203;
                  <input type="checkbox" name="services" id="other" value="Other">
                </div>  
                <strong class="font-medium text-gray-900">
                  Other
                </strong>
              </label>
          </div>
        </fieldset>
        <div class="mb-6">
          <label for="message" class="block text-sm font-medium">Message</label>
          <textarea class="py-3 px-4 block w-full text-md rounded-lg border border-gray-400 bg-white" name="message" id="message" cols="30" rows="5" placeholder="Share any additional details..."></textarea>
        </div>

        <div class="grid">
          <button class="btn-primary">Submit</button>
        </div>
      </form>
  </div>
</WidgetWrapper>