---
import { Image } from 'astro:assets';

// get only 8 images
const allImageFiles = await Astro.glob('/src/img/gallery/*.{jpeg,jpg,png,gif}');
const imageFiles = allImageFiles.slice(0, 8);
// const imageFiles = await Astro.glob('/src/img/gallery/*.{jpeg,jpg,png,gif}');

const { title, description, id } = Astro.props
---

<section class="relative px-[5%] py-8 md:py-12 lg:py-14" {...id ? { id } : {}}>
  <div class="container margin-block-36">
    <ul id="my-gallery" class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:gap-8 mb-6">
      {
      imageFiles.map((img, index) => (
        <li class="grid-item hidden" id={`img-${index}`}>
            <a data-pswp-width="1200" data-pswp-height="1600" class="image" href={img.default.src} data-src={img.default.src}>
            <Image class={'object-cover object-center w-full h-60 max-w-full rounded-sm'} width={300} height={300} src={img.default} alt={`Malkuch's Tree Service Gallery - image ${index}`} />
          </a>
        </li>
      ))
      }
    </ul>
    <!-- <button class="btn-secondary" onclick="previousPage()">Previous</button>
    <button class="btn-secondary" onclick="nextPage()">Next</button> -->
  </div>
</section>

<script is:inline>
  // Your existing pagination script
  const imagesPerPage = 8;
  let currentPage = 0;
  let totalImages = document.querySelectorAll('.grid-item').length;
  let currentImageIndex = -1;

  function showCurrentPage() {
    const start = currentPage * imagesPerPage;
    const end = start + imagesPerPage;
    document.querySelectorAll('.grid-item').forEach((item, index) => {
      item.classList.toggle('hidden', !(index >= start && index < end));
    });
  }

  function nextPage() {
    currentPage = (currentPage + 1) % Math.ceil(totalImages / imagesPerPage);
    showCurrentPage();
  }

  function previousPage() {
    currentPage = (currentPage - 1 + Math.ceil(totalImages / imagesPerPage)) % Math.ceil(totalImages / imagesPerPage);
    showCurrentPage();
  }

  document.addEventListener('DOMContentLoaded', showCurrentPage);

</script>

<script>
  import PhotoSwipeLightbox from 'photoswipe/lightbox';
  import 'photoswipe/style.css';

  const lightbox = new PhotoSwipeLightbox({
    gallery: '#my-gallery',
    children: 'a',
    pswpModule: () => import('photoswipe')
  });
  lightbox.init();
</script>
