---
import { Image } from 'astro:assets';
import services from '../../data/services.json'

interface Props {
  afterTitle?: string,
  title: string
}

const { afterTitle, title } = Astro.props

const subgridServices = services.slice(0, 4);
const otherServices = services.slice(4);

---
<section id="services">
  <div class="container">

    <div class="grid-2 align-items-center margin-block-36">
      <h2 class="h1 text-primary-400">
        {title}
      </h2>
      <div class="">
        <img src="/img/grouped-trees.svg" alt="Astro" width="617" height="312" />
      </div>
    </div>
    
    <div class="grid-2-1 align-items-start">

      <!-- Subgrid for the first four services -->
      <div class="subgrid">
        {subgridServices.map(service => (
          <div class="card">
            <div class="flow">
              <Image src={`/src/img/services/${service.icon}`} alt={service.title} width={298} height={167} />
              <h3 class="h4">{service.title}</h3>
              <p class="text-small">{service.content}</p>
            </div>
          </div>
        ))}
      </div>

      <!-- Grid for the tree trimming service -->
      {otherServices.map(service => (
        <div class="side card">
          <div class="flow">
            <Image src={`/src/img/services/${service.icon}`} alt={service.title} width={636} height={357} />
            <h3 class="h2">{service.title}</h3>
            <p>{service.content}</p>
          </div>
        </div>
      ))}

    </div>

  </div>
</section>
