---
import siteData from '../data/site.json'
// Calculate the current year
const currentYear = new Date().getFullYear();
const pn = Astro.url.pathname
const isHome = pn === '/'
const abtLink = isHome
  ? '#about'
  : `${Astro.site}#about`
const ftLink = isHome
  ? '#features'
  : `${Astro.site}#features`
---
<footer>
  <div class="container">
    <!-- <div class="">
      <ul class="">
        {siteData.social.map((scm) => (
          <li>
            <a class="" href={scm.url} target="_blank" rel="_noopener">{scm.title}</a>
          </li>
        ))}
      </ul>
    </div> -->
    <div class="text-center h3">{siteData.author}</div>
    <div class="text-center">
      <ul class="list text-center justify-content-center d-flex">
        <li class="margin-inline-8">
          <a class="" href={ftLink}>Services</a>
        </li>
        <li class="margin-inline-8">
          <a class="" href={abtLink}>About</a>
        </li>
      </ul>
      <span class="">
        &copy; {currentYear} {siteData.author}
      </span>
    </div>
  </div>
</footer>
<div class="">
</div>
