---
import siteData from '../data/site.json'

const pn = Astro.url.pathname
const isHome = pn === '/'
const abtLink = isHome
  ? '#about'
  : `${Astro.site}#about`
const ftLink = isHome
  ? '#services'
  : `${Astro.site}#services`
---
<header class="bg-neutral-900">
  <div class="container">
    <div class="navbar">
      <a href={Astro.site} class="">
        Malkuch's Yard and Tree Service
      </a>
  
      <nav id="main-menu-mobile">
        <button id="toggle-main-menu-mobile" class="hamburger hamburger--slider" type="button" onclick="navToggle();" aria-label="Show Menu">
          <span class="hamburger-line hamburger-line-top"></span>
          <span class="hamburger-line hamburger-line-middle"></span>
          <span class="hamburger-line hamburger-line-bottom"></span>
        </button>
        <ul id="primary-menu" class="menu nav-menu">
          <li class="menu-item dropdown">
            <span class="nav__link">Oregon CCB #230732</span>
          </li>
       
          <li class="menu-item dropdown">
            <a class="nav__link" href={ftLink}>Services</a>
          </li>
          
          <li class="menu-item dropdown">
            <a class="nav__link" href={abtLink}>About</a>
          </li>
      
          <!-- <span id="follow" class="">Follow</span>
          {siteData.social.map((scm) => (
            <a href={scm.url} class="t" target="_blank" rel="noopener">{scm.title}</a>
          ))} -->
          </ul>
      </nav>
      <div class="navbar-btn-wrapper">
        <a class="text-neutral-50" href="tel:5416437064">(541) 643-7064 </a>
      </div>
    </div>
  </div>
  <div class="mobile-cta">
    <div class="oregon-ccb">
      <span class="mobile-btn top-header-phone">
        Oregon CCB #230732
      </span>
    </div>
    <div class="schedule-service-cta">
      <a href="tel:5416437064" class="mobile-btn text-neutral-50">
        (541) 643-7064
      </a>
    </div>
  </div>
</header>
